* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    min-height: 70vh;
}

h1 {
    text-align: center;
    margin: 24px;
}

main {
    padding: 20px;
}

.container a {
    display: block;
    margin: 18px;
    background: #ddd;
    padding: 12px 18px;
    border-radius: 12px;
    color: #000;
    text-decoration: none;
    font-size: 18px;
    border: solid 2px;
    font-weight: bold;
}

.container a:hover {
    text-decoration: underline;
    background: #26FF96;
    color: #000;
}

.search {
    display: block;
    width: 85%;
    margin: 24px auto;
    outline: none;
    border: solid 2px;
    padding: 12px 18px;
    font-size: 18px;
    border-radius: 24px;
}

@media (max-width:1000px) {
    .container a {
       margin: 18px 0px;
    }
    .search {
        width: 96%;
    }
}
